<section class="flexcol {{cssClass}} scrollable" autocomplete="off" style="height: 100%;">
    {{> "systems/break/templates/items/shared/item-effect-list.hbs"}}
    {{> "systems/break/templates/items/shared/item-action-list.hbs"}}
</section>