<section class="scrollable" style="display:flex;column-gap: 24px;">
    <div class="flexcol" style="flex: 0.75;">
        {{> "systems/break/templates/items/shield/shield-details.hbs"}}
        {{> "systems/break/templates/items/shared/item-abilities.hbs"}}
    </div>
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{#if editable}}
        <prose-mirror name="system.description" value="{{ document.system.description }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ descriptionHTML }}}</div>
        </div>
        {{/if}}
    </div>
</section>
