<section class="tab combat scrollable {{tabs.combat.cssClass}}" data-group="primary" data-tab="combat">
    {{> "systems/break/templates/actors/shared/sheet-compact-summary.hbs"}}
    {{> "systems/break/templates/actors/shared/sheet-abilities.html"}}
    <div class="flexcol" style="row-gap:12px;margin-top: 12px;">
        <div class="section-header" style="margin-bottom:0px;">{{localize "BREAK.Actions"}}</div>
        {{#each weapons}}
        {{> "systems/break/templates/actors/shared/sheet-weapon-card.hbs" weapon=this}}
        {{/each}}
        {{#each actions}}
        {{> "systems/break/templates/actors/shared/sheet-action-card.hbs" action=this}}
        {{/each}}
    </div>
</section>
