<section class="tab description scrollable {{tabs.advancement.cssClass}}" style="height: 100%;" data-group="primary" data-tab="advancement">
    <div class="flexcol" style="flex: 0;">
        <div class="section-header">
            {{localize "BREAK.AdvancementTable"}}
        </div>
        {{> "systems/break/templates/items/calling/advancement-table.hbs"}}
    </div>
</section>