<div class="break chat-item">
    <div class="border">

        <div class="chat-item-header">
            <div class="chat-item-header-infos">
                {{#if user}}<p>{{user}} uses</p>{{/if}}
                <!-- Name -->
                <h5 class="item-name">{{name}}</h5>
            </div>
        </div>
        {{#if requiresRoll}}
        <p>{{localize "BREAK.Requires"}} {{localize rollTypeLabel}} {{#if aptitudeLabel}}({{localize aptitudeLabel}}){{/if}}</p>
        {{/if}}
        <p>{{localize costLabel}}</p>
        <!-- Description -->
        {{#if description}}
        <h6 class="title-section">{{localize "BREAK.Description"}}:</h6>
        {{{description}}}
        {{/if}}
    </div>
</div>