<div class="break chat-item">
    <div class="border">

        <div class="chat-item-header">
            <!-- Icon -->
            {{#if img}}
            <img class="item-icon" src="{{img}}" title="{{name}}" />
            {{/if}}

            <div class="chat-item-header-infos">
                <!-- Name -->
                <h5 class="item-name">{{name}}</h5>

                <!-- Type -->
                <p class="item-type">{{localize (concat 'TYPES.Item.' itemType)}}</p>

                <!-- SubType -->
                {{#if isWeapon}}
                <p class="item-type">{{localize (concat 'BREAK.GEAR.SUBTYPE.' weaponType1)}} {{#if weaponType2}} + {{weaponType2}} {{/if}} </p>
                {{/if}}

                {{#if isArmor}}
                <p class="item-type">{{localize type.name}}</p>
                {{/if}}

                {{#if isAbility}}
                <p class="item-type">{{localize (concat 'TYPES.Item.' subtype)}}</p>
                {{/if}}
            </div>
        </div>

        <!-- Details -->
        <!-- Price -->
        {{#if isGear}}
        <h6 class="title-section">{{localize "BREAK.GEAR.GearProperties"}}</h6>
        <div>
            <span class="property-label">{{localize "BREAK.Price"}}: </span>
            <i class="fas fa-gem"></i>
            {{value.gems}}
            <i class="fas fa-coins"></i>
            {{value.coins}}
            <i class="fas fa-coin-vertical"></i>
            {{value.stones}}
        </div>
        <p><span class="property-label">{{localize "BREAK.Slots"}}: </span>{{slots}}</p>
        {{/if}}
        <!-- Weapon -->
        {{#if isWeapon}}
        {{#if isMelee}}
        <h6 class="title-section">{{localize "BREAK.GEAR.MeleeProperties"}}</h6>
        <p><span class="property-label">{{localize "BREAK.GEAR.ExtraDamage"}}: </span>{{extraDamage}}</p>
        {{/if}}

        {{#if isRanged}}
        <h6 class="title-section">{{localize "BREAK.GEAR.RangedProperties"}}</h6>
        <p><span class="property-label">{{localize "BREAK.GEAR.RangedExtraDamage"}}: </span>{{rangedExtraDamage}}</p>
        <p><span class="property-label">{{localize "BREAK.Range"}}: </span>{{rangedExtraDamage}} {{localize "BREAK.Areas"}}</p>
        <p><span class="property-label">{{localize "BREAK.LoadingTime"}}: </span>{{loadingTime}} {{localize "BREAK.Action"}}</p>
        {{/if}}

        <h6 class="title-section">{{localize "BREAK.Abilities"}}</h6>
        {{#each abilities}}
        <div style="display: flex; margin-bottom: 6px; flex-direction: column; width: 50%;">
            <label class="property-label">{{this.name}}</label>
            {{{this.system.description}}}
        </div>
        {{/each}}
        {{/if}}

        <!-- Armor -->
        {{#if isArmor}}
        <h6 class="title-section">{{localize "BREAK.GEAR.ArmorProperties"}}</h6>
        <p><span class="property-label">{{localize "BREAK.DefenseRating"}}: </span>{{defenseBonus}}</p>
        {{#when "" 'eq' speedLimit}} <p><span class="property-label">{{localize "BREAK.MaxSpeed"}}: </span> {{localize "BREAK.None"}}</p> {{/when}}
        {{#when "0" 'eq' speedLimit}} <p><span class="property-label">{{localize "BREAK.MaxSpeed"}}: </span> {{localize "BREAK.SLOW"}}</p> {{/when}}
        {{#when "1" 'eq' speedLimit}} <p><span class="property-label">{{localize "BREAK.MaxSpeed"}}: </span> {{localize "BREAK.AVERAGE"}}</p> {{/when}}
        {{#when "2" 'eq' speedLimit}} <p><span class="property-label">{{localize "BREAK.MaxSpeed"}}: </span> {{localize "BREAK.FAST"}}</p> {{/when}}
        {{#when "3" 'eq' speedLimit}} <p><span class="property-label">{{localize "BREAK.MaxSpeed"}}: </span> {{localize "BREAK.VFAST"}}</p> {{/when}}
        {{/if}}

        {{#if isQuirk}}
        <h6 class="title-section">{{localize "BREAK.Advantages"}}:</h6>
        {{{advantages}}}
        <h6 class="title-section">{{localize "BREAK.Disadvantages"}}:</h6>
        {{{disadvantages}}}
        {{/if}}

        <!-- Description -->
        {{#if description}}
        <h6 class="title-section">{{localize "BREAK.Description"}}:</h6>
        {{{description}}}
        {{/if}}
    </div>
</div>