<div data-id="{{item._id}}">
    <a class="item-link" data-action="linkItem" style="display: block; font-size: 15px; margin: 0;">{{item.name}}</a>
    {{#if item.system.typeLabel}}
    <span style="font-size: 12px; margin: 0;">{{item.system.typeLabel}} {{localize (concat 'TYPES.Item.' item.type)}}</span>
    {{/if}}
</div>