<section class="tab description scrollable {{tabs.effects.cssClass}} flexcol" data-group="primary" data-tab="effects" style="height: 100%;">
    {{> "systems/break/templates/items/shared/item-effect-list.hbs"}}
    {{> "systems/break/templates/items/shared/item-action-list.hbs"}}
</section>