<section class="flexcol description {{cssClass}} scrollable" autocomplete="off" style="flex: 1;">
    <div style="display:flex;column-gap: 24px; flex: 1;">
        {{> "systems/break/templates/items/shared/item-action-list.hbs"}}
    </div>
</section>